<div>0001</div>
<div>0002</div>
<div>0003</div>

<script>
// 首先：避免数据污染 匿名函数自调用
// 然后：
// 1-避免作用域链查找
// 2-后期使用window减小体积
// 3-避免undefined类型 ie低版本串改
(function(window, undefined){

    // 测试
    let test = 111
    // 定义 构造函数
    let jQuery = function(el) { // this就等于实例化对象
        let els = document.querySelectorAll(el)  // 伪数组
        // 遍历将所有JS DOM放到JQ对象上
        for (let i=0; i<els.length; i++)
        {
            // this.i = els[i] // 当对象的键是数组使就用中括号
            this[i] = els[i]
        }

        this.length = els.length
    }

    jQuery.prototype = {
        // this就是实例化对象  jq对象  就是构造函数中的this
        // 构造函数中的this上面还有当前选择器对应DOM元素
        // 那么后期调用原型方法后，可以基于DOM元素加特效
        // css: function(){}
        css(name, val) {
            // console.log('css');
            // console.log(this);  ===  构造函数中的this 也有JS DOM

            for (let i=0; i<this.length; i++) 
            {
                // console.log(i, this.i);
                // console.log(i, this[i]);
                // this[i].style.css属性名 = css属性值
                // this[i].style.name = val
                this[i].style[name] = val
            }

            return this  // this 实例化对象
        },
        addClass() {
            console.log('addClass');
        },
        html() {
            console.log('html');
        },
        attr() {
            console.log('attr');
        },
        get() {
            console.log('get');
        },
        ajax() {
            console.log('ajax');
        },
    }

    // 将内部指定语法抛出给外部使用
    // Expose jQuery to the global object
    window.jQuery = window.$ = jQuery;
})(window)


// console.log(test); // 报错，导致后续代码不执行
// console.log(jQuery);
// console.log($);

// console.log(new $('div'));

// new $('div').css('background', 'green')
// new $('div').css('font-size', '30px')

// console.log(new $('div').css('background', 'green'));
new $('div').css('background', 'green').css('font-size', '30px')
</script>